.main_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24px;
}

.buttons {
  width: 40vw;
  height: 100px;
  margin: 0 auto;
  font-size: 0;
  display: flex;
  flex-wrap: no-wrap;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;

  & > * {
    // flex: 1 0 600px;
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    // transform: skewX(150deg);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  &__secondary_bg {
    flex: 1;
    background: #a8a8a8;
  }
  &__secondary {
    // transform: skewX(150deg);
    color: black;
    width: 100%;
    transform: skewX(150deg);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a8a8a8;
  }

  &__primary_bg {
    flex: 2;
    background: linear-gradient(to right, #bd3f32, #cb356b);
  }

  &__primary {
    width: 100%;
    transform: skewX(150deg);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #bd3f32, #cb356b);
  }

  &__text {
    transform: skew(-150deg);
  }
}

@media only screen and (min-width: 768px) {
  .buttons {
    & > *:hover {
      flex: 1 0 2000px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .buttons {
    width: 70vw;
  }
}

@media only screen and (max-width: 524px) {
  .buttons {
    width: 90vw;
  }
}
